extends ../layouts/base

block content
    div.row.multi-columns-row
        ul#room-feed
            - each room in rooms
                include ../partial/room
            include ../partial/template/room
    div.btn.more-btn.js-pager 次を表示
    script(data-main='/javascripts/main/follow_feed.js', src='/javascripts/lib/requirejs.js')
