doctype html
html
    head
        include ../common/head
        include ../common/css
        include ../common/js
    body(id=bodyId)
        h1#fb-welcome
        div
            div#header
                include ../common/header
            div
                block content
            include ../common/login_footer
        script(src='/javascripts/socketio/socket.js')
        script(src='/javascripts/lib/footerFixed.js')
        // script(src='/javascripts/lib/facebook_login.js')
        include ../partial/analytics
