extends layouts/redirect

block content
    div#login
        div.login
            img.logo(src='/images/common/logo-b-new.png')

            ul.connect_services
                li.facebook
                if (_req.headers.host == 'wishmatch.jp')
                    a(href='https://wishmatch.jp/auth/facebook', alt='rooming sign in')
                        img(src='/images/LoginWithFacebook.png')
                else
                    a(href='/auth/facebook', alt='rooming sign in')
                        img(src='/images/LoginWithFacebook.png')
                        //signin facebookログイン
                        //i f
                    //br
                    //span facebook
                //li.twitter
                    a(href='/auth/twitter')
                        i t
                    br
                    span twitter
