script#template-userList(type='text/template')
    div#user-info.user-info
        li#user-info(data-updateDatetime!='<%- updateDatetime %>', style='list-style-type:none;')
            a(href!='/user/<%- userId %>')
                img.user-image-l(src!='<%- imagePath %>', height=50, width=50, alt)
                span.user-name <%- username %>
            br
            <% if (followMap[userId]) { %>
            span.follow.js-unfollow.label.label-info(data-user_id!='<%- userId %>') 話してみたい✖︎
            <% } else { %>
            span.follow.js-follow.label.label-primary(data-user_id!='<%- userId %>') 話してみたい
            <% } %>

