extends ../layouts/base

block content
    div#user
        div#user-info
            a(href='/user/'+ userMap[toUserId].userId)
                img.user-image-l(src= userMap[toUserId].imagePath, height=30, width=30, alt)
                span(style='margin: 3px; font-size:small')= userMap[toUserId].username
            br
            a(href='/user/'+ userMap[fromUserId].userId)
                img.user-image-l(src= userMap[fromUserId].imagePath, height=30, width=30, alt)
                span(style='margin: 3px; font-size:small')= userMap[fromUserId].username
    - if(_req.session.userId)
        form#send(action='/message/send_message', method='post')
            input(type='hidden', name='_csrf', value= _csrf, required)
            input(type='hidden', name='toUserId', value= toUserId, required)
            input(type='hidden', name='messageGroupId', value= messageGroupId, required)
            input(type='hidden', name='userImagePath', value= userMap[fromUserId].imagePath, required)
            input(type='hidden', name='username', value= userMap[fromUserId].username, required)
            textarea#message.full(name='message', rows='2', placeholder= 'プライベートチャット', required)
            input.full.btn.btn-sm.btn-success.submit(type='submit', value='送信')
    - else
        a.submit.btn(href='/login') ログイン

    div#room
        div.comments
            ul.comments-list
                - each message in messageList
                    include partial/message
                include partial/template/message
            div.more-btn.js-pager 次のメッセージを表示
    script(src='/javascripts/lib/underscore-min.js')
    script(data-main='/javascripts/main/message.js', src='/javascripts/lib/requirejs.js')
