script#template-comment(type='text/template')
    li(data-comment-id!='<%- commentId %>')
        div.user-image
            a(href!='<%- user.imagePath %>')
                img.user-image-m(src!='<%- user.imagePath %>', width=30, height=30)
        div.content
            div.comment
                a(href!='<%- user.imagePath %>')
                    <%- user.username %>
                p
                    <%- content %>
                <% if (isMine) { %>
                form.delete-form(action='/room/delete_comment', method='post')
                    input(type='hidden', name='_csrf', value!='<%- _csrf %>', required)
                    input(type='hidden', name='comment_id', value!='<%- commentId %>', required)
                    input.submit.comment-delete.js-delete(type='submit', value='削除')
                <% } %>
                div.gp
                    div.fr.mrs.time
                        <%- displayTime %>
