script#template-like(type='text/template')
    li.room.gp.mm
        a(href!='/room/<%- postId %>')
            div(data-like-id!='<%- likeId %>')
                img(src!='https://s3-ap-northeast-1.amazonaws.com/wishmatch/<%- imagePath %>?width=150&height=150&type=crop', width=150, height=150)

