script#template-messagebox(type='text/template')
    li(data-update-time!='<%- updateDatetime %>', style='list-style:none;')
        div#user-info
            a(href!='/message/<%- messageGroupId %>')
                img.user-image-l(src!='<%- imagePath %>', height=50, width=50, alt)
                span.user-name
                    <%- username %>
                <% if (newMessageFlag) { %>
                span.label.label-danger 新着
                <% } %>
            form.inline(action='/message/block_user', method= 'post')
                input(type='hidden', name='_csrf', value!='<%- _csrf %>', required)
                input(type='hidden', name='toUserId', value!='<%- toUserId %>', required)
                input(type='submit', value='ブロック')
            hr
