extends ../layouts/base

block content
    div#about
        section#team
            h2 Team
            ul
                li.gp
                    div.fl
                        img(src='https://s.gravatar.com/avatar/7fcafec8fe7c90fa4059075a266cbd1a?s=80?size=300', width=150, height=150)
                    div.fl
                        h3 atsushi araki
                        h4 Front & Serverside Programer
                        //a.inline(href='https://www.facebook.com/atsushi.araki', target='_blank') Facebook
                li.gp
                    div.fl
                        img(src='https://en.gravatar.com/userimage/63333237/e970d67bc3692ab5eda6fb642fb7b950?size=300', width=150, height=150)
                    div.fl
                        h3 tomokazu kozuma
                        h4 Front & Serverside Programer
                        //a.inline(href='https://www.facebook.com/tomokazu.kozuma', target='_blank') Facebook

        section#contact
            h2 お問い合わせ先
            ul
                li 運営会社: 
                    a(href='/information/company', style='color:blue; font-size:medium') 株式会社WishMatch
                li Email:
                    a(href='mailto:wishmatchjp@gmail.com', style='color:blue; font-size:medium') wishmatchjp@gmail.com
                li
                    a.facebook(href='https://www.facebook.com/wishmatch.jp', target='_blank') Facebook
                li
                    a.twitter(href='https://twitter.com/wishmatch',            target='_blank') Twitter
