extends ../layouts/base

block content
    br
    h1 会社情報
        // table#company
        table.table.table-bordered
            tr
                td 会社名
                td 株式会社WishMatch
            tr
                td 本社
                td 東京都渋谷区渋谷3-26-16 第五叶ビル5F
            tr
                td 代表者
                td 代表取締役社長 荒木 敦
            tr
                td 設立
                td 2014年6月19日
            tr
                td 資本金
                td 1万円(増資予定)
            tr
                td 事業内容
                td ソーシャルウィッシュリストマッチングサービス事業
            tr
                td 企業理念
                td 人の欲求(幸せ)を満たし続けるサービスを創り、幸せになり続ける
            tr
                td 
                    a(href='/information/about#contact') お問い合わせ
                td
                    a(href='mailto:wishmatchjp@gmail.com') wishmatchjp@gmail.com
            tr
                td 電子公告
                td
                    a(href='/information/koukoku') リンク
    div
        a(href='/') TOPページヘもどる
