extends ../layouts/base

block content
    h1 電子公告
    p 以下の公告につきましては、定款の定め(電子公告)に従い、本Webサイトに掲載しています。ただし、事故その他やむを得ない事由によって電子公告をすることができない場合は、官報に掲載致します。
    hr
    h1 決算公告
    p 決算時に公告します。
    div
        a(href='/') TOPページヘもどる
