extends ../layouts/base

block content
    br
    b
        p プライバシーポリシー

    br
    p 株式会社WishMatch（以下、「弊社」と言います。）は、個人情報の重要性を認識し、
    p 弊社の提供するサービスWishMatch（以下、「本サービス」と言います。）における
    p 個人情報の取り扱いについて下記の方針を定め、役員および従業者ともに個人情報の保護に努めます。
    p 弊社に個人情報を提供するにあたっては、下記の内容にご同意のうえ、
    p ご提供いただきますようお願い致します。
    br
    b
        p 1. 個人情報の取得
    p 弊社は、本サービスの遂行に必要な範囲内で、適法かつ公正な手段によって個人情報を取得します。
    p 弊社が本サービスを利用する登録ユーザーから取得する個人情報は、以下のようなものになります。
    p (1)氏名
    p (2)生年月日
    p (3)メールアドレス
    p (4)住所
    p (5)クレジットカード情報
    p (6) Facebookのアカウント、Facebookのプロフィールに表示された情報およびFacebookの友達リスト
    p (7)その他、弊社所定の登録フォームにユーザーが入力する情報
    p また本サービスの全てのご利用者・閲覧者について、
    p 本サービスへのアクセス状況およびご利用状況等を取得します。
    p このアクセス情報には、端末情報・ログ情報・クッキー・位置情報等が含まれます。
    br
    b
        p 2. 利用目的
    p 弊社は取得した個人情報を、本サービスの遂行・向上のため
    p 特定した利用目的の範囲内で利用します。具体的な利用目的は以下のとおりです。
    p (1)本サービスの登録受付、ご本人確認、代金の支払、料金の計算、料金の請求等、
    p 本サービスならびにその他本サービスに関連する情報の提供のため
    p (2)本サービスに関する通知、新サービス・新商品等のご案内、
    p お問い合わせ対応等アフターサービスのため（電子メールによるものを含むものとします。）
    p (3)弊社及び第三者の商品等の広告または宣伝（電子メールによるものを含むものとします。）
    p (4)利用者の皆様の行動、性別、アクセス履歴などを用いたターゲティング広告の配信
    p (4)マーケティング、統計データの作成等、本サービスの向上のため
    p (5)本サービスが利用者の皆様に有用だと思われるメールマガジンの送信
    p (6)本サービス上で、個人を特定できない範囲においての統計情報の作成および利用
    p (7)本サービスの新規開発に必要なデータの解析や分析
    p (8)契約や法律等に基づく権利の行使や義務の履行のため
    p (9)有料サービスを利用しているユーザーに利用料金を請求するため
    p (10) 利用規約に反する態様でのご利用を防止するため
    p (11)その他、上記の利用目的に付随する目的のため
    br
    b
        p 3.第三者への提供
    p 弊社は以下に定める場合を除き、取得した個人情報を、
    p 事前にご本人の同意を得ることなく第三者へ提供しません。
    p (1)法令に基づく場合
    p (2)人の生命、身体または財産の保護のために必要がある場合で、
    p ご本人の同意を得ることが困難であるとき
    p (3) 公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、
    p ご本人の同意を得ることが困難であるとき
    p (4)国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を
    p 遂行することに対して協力する必要がある場合であって、
    p ご本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
    p (5)合併その他の事由による事業の承継に伴って個人情報が提供される場合
    p (6)その他、個人情報保護法その他の法令で認められる場合 
    br
    b
        p 4.外部委託
    p 弊社は、情報処理などの業務を外部に委託する際に、
    p 利用目的の達成に必要な範囲内において個人情報を提供する場合があります。
    p この場合には、委託先が個人情報保護体制を確保していることを条件とします。
    br
    b
        p 5.個人情報の管理
    p 弊社は、個人情報を正確かつ最新の状態に保ちます。
    p 個人情報の管理にあたってはコンピュータウィルス等に対する
    p セキュリティ対策を講じ、個人情報の漏えい、滅失、毀損を防ぎます。
    br
    b
        p 6.個人情報保護管理者の任命および従業者の監督
    p 弊社は個人情報保護管理者を任命し、個人情報の適性な管理を実施します。
    p 役員および従業者に対しては、個人情報保護のため適正な管理方法について研修を実施します。
    br
    b
        p 7.個人情報の開示
    p 弊社は個人情報保護法の規定に基づき、ご本人または代理人から保有個人情報の開示請求が
    p あった場合は手数料（1件につき1,000円）をいただいたうえで速やかに該当情報の開示を行います。
    p ただし身分証明書の提示や委任状の提示がなく、
    p ご本人又は代理人であることの確認が出来ない場合は開示を行いません。
    br
    b
        p 8.個人情報の訂正および利用停止
    p 弊社は、ご本人が個人情報保護法に基づき、自己の個人情報について訂正、利用停止および消去を
    p 求めた場合、弊社所定の手続きに従いご本人からの請求であることを調査し、遅滞なく訂正、
    p 利用停止および消去の措置を講じます。ただし合理的な理由に基づく場合は訂正、
    p 利用停止および消去を行わず、その旨をご本人に通知します。
    br
    b
        p 9.プライバシーポリシーの変更
    p 弊社は必要に応じて、本プライバシーポリシーの内容を変更することができるものとします。
    p 変更時は、登録ユーザーの皆様に通知し、弊社サイト上で公表します。
    br
    b
        p 10.お問い合わせ窓口
    p 個人情報の取扱いに関するお問い合わせ、苦情は、下記の窓口までお願い致します。
    p 所在地　東京都渋谷区渋谷3-26-16 第五叶ビル5F
    p E-mail：
            a(href='mailto:wishmatchjp@gmail.com') wishmatchjp@gmail.com
    p TEL　080-4384-1147（受付10時～18時）
    p 担当　荒木 敦
    br
    p 平成26年12月21日　制定

    div
        a(href='/') TOPページヘもどる
