extends ../layouts/base

block content
    br
    h1 特定商取引法に基づく表記
    table.table.table-bordered
        tbody
            tr
                td 事業者名称
                td 株式会社WishMatch
            tr
                td 事業者氏名
                td 荒木 敦
            tr
                td 所在地
                td 東京都渋谷区渋谷3-26-16 第五叶ビル5F
            tr
                td 連絡先
                td Email: 
                    a(href='mailto:wishmatchjp@gmail.com') wishmatchjp@gmail.com 
                    br
                    span TEL: 080-4384-1147（受付10時〜18時）
            tr
                td 営業時間・休業日
                td 平日10時~18時(土日休業)
            tr
                td 商品・役務の対価
                td チケット購入者にお支払いただく対価は、
                    br
                    span 各チケットに表示された金額（消費税込み）です。
                    br
                    span チケット発行者は、本サービス利用料として発行したチケットに
                    br
                    span 表示した金額の10%相当額を弊社へお支払いただきます。 
            tr
                td 商品・役務の対価以外で
                    br
                    span ご負担いただく費用
                td インターネットへ接続するための通信費、決済手数料、
                    br
                    span チケット購入時に交わした契約を履行するために必要とする交通費および郵送費その他費用。
            tr
                td 代金の支払時期
                td チケット購入者は、各チケットの商品・役務の提供日時。
                    br
                    span チケット発行者は、商品・役務の提供後に弊社へ
                    span サービス利用料を速やかにお支払いただきます。
            tr  
                td 代金の支払方法
                td チケット購入代金は、チケット発行者への現金手渡しです。
            tr
                td 商品・役務の提供時期
                td 各チケットに表示された日時となります。
            tr
                td 返品について
                td 利用規約に規定した例外を除いて、返品・キャンセルはできません。
            tr
                td 不良品、破損、役務が履行されなかった時の対応
                td 利用規約の通り、商品・役務が提供されるべき時から24時間以内に、
                    br
                    span その商品・役務が提供されていないことをチケット購入者から
                    br
                    span お知らせいただいた場合、弊社の調査でそのお知らせが事実と
                    br
                    span 判断したときは返金されます。
            tr
                td 申込みの有効期限
                td 各チケットに申込みの有効期限が表示されているときは、その期限となります。
            tr
                td 個人情報の取り扱いについて
                td 個人情報の取り扱いに関しましては、
                    a(href='/information/privacypolicy') プライバシーポリシー
                    をご参照ください
    div
        a(href='/') TOPページヘもどる
