extends ../layouts/base

block content
    br
    b
        p 第1章　WishMatch基本利用規約
    p 本利用規約（以下「本規約」と言います。）は、株式会社WishMatch（以下、「弊社」と言います。）が提供する、個人間や個人と法人間の欲求をマッチングさせるサービス「WishMatch」(以下、「本サービス」と言います。)の提供条件および弊社と本サービスをご利用になる全ての皆様との間の権利義務関係が定められています。本サービスのご利用に際しては、本規約の全文をお読みいただいたうえで本規約にご同意いただく必要があります。
    br
    b
        p 第1条（定義）
    p 本規約において使用する以下の各用語は、次の通りとします。
    p 1.「弊社」　株式会社WishMatchを意味します。
    p 2.「本サイト」　株式会社WishMatchが提供する、「WishMatch」という題号でドメインwishmatch.jpのサイト（題号またはドメインが変更された場合は、変更後のサイトを含みます。）を意味します。
    p 3.「本サービス」　本サイト上で提供する「WishMatch」という名称のサービス（サービスの名称または内容が変更された場合は、変更後のサービスを含みます。）を意味します。文脈上許される限り、本サイトも含みます。
    p 4.「ユーザー」　本サービスを利用する全ての個人および法人を意味します。特に断り書きがない限り、登録ユーザーおよび本サイトの閲覧者も含まれます。
    p 5.「登録ユーザー」　第4条（登録）に基づいて本サービスの利用者として登録がなされた個人または法人を意味します。
    p 6.「ユーザー登録」 本サービスの利用を希望する個人または法人が、第4条（登録）に基づいて登録ユーザーとして本サービスを利用できる資格を取得することを意味します。登録ユーザーとしての資格そのものの意味も含みます。
    p 7.「チケット発行者」　第7条（チケット発行）に基づいてチケットを発行した登録ユーザーを意味します。
    p 8.「チケット購入者」　第8条（チケット購入）に基づいて前項のチケット発行者からチケットを購入した登録ユーザーを意味します。
    p 9.「チケット」　チケット発行者が履行する契約内容を受益する権利を意味します。チケットの投稿ページには、契約内容およびその対価としての代金が表示されます。
    p 10.「Facebook」　外部事業者Facebook Ireland Ltd.が提供するソーシャル・ネットワーキング・サービスを意味します（事業者名称およびサービスの名称が変更された場合は、変更後のサービスを含みます。他の事業者へ事業が譲渡された場合も同様とします。）。
    p 11.「Facebook利用規約」　Facebookと登録ユーザーとの権利義務関係を定めた規約を意味します。
    p 12.「Facebook友達」　Facebookの日本語サイトにおいて「友達」と呼ばれるシステムで、お互いに同意のもとお互いのプロフィールページに氏名および顔写真等の画像を公開し合い、リンクによって繋がるフォローメンバーを意味します。
    p 13.「投稿コンテンツ」　登録ユーザーが本サイト上において公表する意思をもって送信するコメント、提案、プロフィール情報等の全ての文章および画像その他データを意味します。
    p 14.「知的財産権」　著作権、特許権、商標権、意匠権、実用新案権その他の知的財産権を意味します。それらの権利を取得し、またはそれらの権利につき登録等を出願する権利を含みます。
    p 15.「反社会的勢力」　「暴力団員による不当な行為の防止等に関する法律」に定義する暴力団並びにその関係団体、関係者および家族等を意味します。
    p 16.「コンピュータウィルス等」　コンピュータ、コンピュータの周辺機器、ネットワーク、ソフトウェア等に悪影響を及ぼすプログラムを意味します。トロイの木馬とその亜種、ワーム、ブラウザクラッシャー、それらに類するマルウェアを含みます。
    p 17.「ステルスマーケティング」　特定の企業や商品について、消費者に宣伝と気付かれないよう宣伝することを意味します。
    p 18.「個人情報」　生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます。）を意味します。
    p 19.「機密情報」　顧客情報、技術や製品開発に関する情報、営業ノウハウ、ビジネスモデルなど、企業や団体にとって業務上で重要とされる情報のうち、非公知のものを意味します。
    br
    b
        p 第2条（本規約の適用範囲と変更）
    p 1. 本規約は、弊社が提供する本サービスを利用するユーザーとの権利義務関係を定めることを目的とします。
    p 2. 本規約は、本サービスを利用するユーザーと弊社との間、ユーザー間の本サービスの利用に関わる一切の関係に適用されます。
    p 3. 本規約の他、本サイトに関わる利用規約・ルール・ポリシーおよびガイドライン（以下、「ガイドライン等」と言います。）は、本規約の一部を構成するものとします。本規約の内容と、他のガイドライン等の内容が異なるときは、本規約の規定が優先して適用されます。
    p 4. 弊社はユーザーの事前の承諾を得ることなく、必要に応じていつでも本規約を変更することができるものとします。前項のガイドライン等の変更についても同様とします。なお弊社が利用規約を変更したことによってユーザーに生じた損害については、一切の責任を負いません。
    p 5. 変更後の規約は、本サイトまたはユーザーへの通知で別に定めた場合を除き、本サイト上に表示した時点より効力を生じます。ユーザーは本規約の最新の内容を常に確認する義務を負います。
    p 
    p 第3条（本サービスについて）
    p 1. 本サービスは、登録ユーザー間の「商品を売りたい」「商品を買いたい」「役務を頼みたい」「役務をしたい」「一緒に楽しみたい」等の要望や欲求を結びつけるための機会を提供するマッチングサイトです。
    p 2. 弊社とチケット発行者の間には、チケット発行時点において本規約第7条（チケット発行）に基づき民法第537条の契約が締結されます。チケット発行者は弊社と交わした契約を誠実に履行する義務を負います。
    p 3. 登録ユーザーは、本サービスを利用して結ぶ契約を自ら責任を持って履行しなければなりません。本サービスを利用して登録ユーザー間に生じた紛争について弊社は一切関与せず、当該紛争の当事者である登録ユーザーが自己の費用で解決にあたるものとします。
    br
    b
        p 第4条（登録）
    p 1. 本サービスは、以下の各号のいずれかの者に限りユーザー登録を弊社へ申込みできます。
    p (1) Facebook のアカウントを持ち、Facebookに自己の学歴・職歴その他プロフィール情報を登録しFacebook上で公開しており、弊社が別に定める一定数のFacebook友達を持つ満18歳以上の個人。
    p (2) Facebookのアカウントを持ち、Facebookに登記簿上の法人名・所在地・連絡先（電話番号およびメールアドレス）・代表者氏名・事業内容その他当該法人についての情報を登録し、Facebook上で公開している日本国の内国法人。
    p 2. ユーザー登録の申込みをする者（以下、本条において「登録申込者」と言います。）は、必ず個人または法人自身で申込みを行わなければならず、弊社が書面により認めた場合を除き代理人による登録申込みはできないものとします。また、登録申込者は虚偽の情報を弊社へ提供してはなりません。
    p 3. 弊社は、登録申込者が以下の各号のいずれかに該当する場合、またはそのおそれがあると弊社が判断した場合は、登録申込者の登録を拒否することができます。
    p (1) 本条第1項の申込み資格を満たさない者である場合。
    p (2) 弊社へ提供した情報の全部または一部に虚偽または誤記があると弊社が判断した場合。
    p (3) 過去に本規約その他のガイドライン等に違反したことを理由として弊社からユーザー登録を解除された者である場合。
    p (4) Facebookその他インターネット上のウェブサイトにおいて、他者の肖像権その他知的財産権を侵害している者である場合。他者の氏名・名称を自己の氏名・名称と偽り用いる「なりすまし」行為はこれに含みます。
    p (5) Facebookその他インターネット上のウェブサイトにおいて、他者の名誉を毀損または侮辱する誹謗中傷行為を行っている者である場合。
    p (6) 反社会的勢力、その関係者であると弊社が判断した場合。
    p (7) 既に登録ユーザーとして登録アカウントを持つ者である場合。
    p (8) 未成年者、成年被後見人、その他の制限行為能力者であり、法定代理人の同意を得ていない場合。
    p (9) 上記の他、弊社が登録を承諾することを不適切であると判断した場合。
    p 4. 登録ユーザーは、登録情報に変更があったときは遅滞なく、弊社の定める方法により弊社へ通知し、弊社からの求めに応じて変更事項に関わる資料を提出するものとします。
    p 5. 登録ユーザーは、登録アカウントとパスワードの管理を自らの責任において厳重に行うものとします。弊社が発行したアカウントとパスワードを用いて本サービスを利用されたときは、弊社は登録ユーザー本人が利用したものとして扱うことができます。
    p 6. 一つの登録ユーザーのアカウントを複数人で共同して利用することはできません。
    p 7. 登録ユーザーは、本サービスを利用することに関連して生じた紛争、クレーム等の対応を自己の費用と責任において処理し、直ちにその内容および結果を弊社に対して通知しなければなりません。
    p 8. 本条は弊社が登録申込者の身元を調査する義務を負うこと、登録ユーザーの情報が真正であることを保証する義務を負うことのいずれをも意味しません。
    p 9. 本サイトおよび本サービスに関連する知的財産権は、全て弊社またはユーザーを含む法律上の権利者に帰属します。ユーザー登録することで、登録ユーザーに本サイトおよび本サービスに関連する知的財産権の利用を許諾するものではありません。
    br
    b
        p 第5条（投稿コンテンツ）
    p 1. 登録ユーザーは、投稿コンテンツを弊社が閲覧して審査することに予め同意しなければなりません。また投稿コンテンツが本規約第6条（禁止行為）に該当する場合および弊社が不適切と判断した場合は、弊社は投稿した登録ユーザー本人の承諾なくその投稿コンテンツをいつでも変更・削除することができるものとし、登録ユーザーはこれに予め同意します。この場合、登録ユーザーは著作者人格権を行使しないものとします。
    p 2. 前項の定めは、弊社が登録ユーザーによる投稿コンテンツの真実性、正確性、適法性、第三者の権利を侵害するものではないことを保証する義務を負うことを意味せず、弊社が投稿コンテンツの全てを監視する義務を負うことを意味するものでもありません。
    p 3. 投稿コンテンツの著作権は投稿した登録ユーザーにありますが、本サイト内でのリスティング表示のため、Facebookでのシェアのため、および広告配信やマーケティングのために利用されることがあります。登録ユーザーは、投稿コンテンツを弊社サーバーへ送信した時点で、その投稿コンテンツの利用を弊社に対して非独占的に無償かつ無期限、地域の限定なく許諾することに同意したものとします。著作権法第27条および第28条の権利に関しても同様の扱いとします。
    p 4. 登録ユーザーは投稿コンテンツのバックアップを登録ユーザー自身で責任を持って行うものとします。弊社が投稿コンテンツを一定期間保存していた場合であっても、弊社は投稿コンテンツを保存する義務を負うものではなく、本サービスの終了または弊社の判断によりいつでも投稿コンテンツを削除できるものとします。本条に基づき弊社が行った措置で登録ユーザーに生じた損害について弊社は一切の責任を負いません。
    br
    b
        p 第6条（禁止行為）
    p 本サービスの利用に際して、登録ユーザーは本条の禁止行為を行ってはならないものとします。登録ユーザーが以下の各号のいずれかに該当する行為を行ったと弊社が判断したときは、弊社は当該登録ユーザーのユーザー登録を解除することができます。弊社が本条に該当する登録ユーザーのユーザー登録を解除した場合、そのことによって生じた一切の損害について弊社が責任を負うことはないものとし、またユーザー登録を解除したことに関する質問や苦情には対応する義務を負わないものとします。
    p (1) 他者の名誉を毀損し、または他者を侮辱する誹謗中傷行為。
    p (2) 他者の肖像権、プライバシー権、知的財産権、その他権利を侵害する行為。
    p (3) 虚偽の情報を弊社へ提供、または虚偽の情報を投稿コンテンツで公開する行為。
    p (4) 詐欺、脅迫、虐待、監禁、傷害、殺人、殺人教唆、自殺、自殺教唆、不倫、売春、買春、ストーキング、猥褻画像の投稿、差別用語（伏字や隠語を含む）の投稿、許認可が必要な事業の無許可営業、不正アクセス等、法令や公序良俗に違反する行為および、それらの違反行為を肯定・推奨・助長する行為。
    p (5) 宗教団体、政治団体、反社会的勢力団体への勧誘およびそれらの団体活動への助長行為。
    p (6) マルチ商法、ねずみ講またはそれらに類する商法へ勧誘する行為、およびそれらの商法を推奨・助長する行為。
    p (7) 18歳未満の者を本サービスの利用へ勧誘する行為。18歳未満であることを隠して登録申込するよう誘導する行為も含みます。
    p (8) 営業目的で大量の広告を投稿する行為、ステルスマーケティング行為。
    p (9) コンピュータウィルス等を投稿する行為、コンピュータウィルス等を配布しているURLをリンクする行為。
    p (10) 登録ユーザー間で、本サービスを利用せず直接に連絡を取り合い、本サービスで行っていた取引と類似した取引を交わす行為。
    p (11) 恋愛の対象として他の登録ユーザーと会う目的で本サービスを利用する行為。
    p (12) 中古品を売買する行為。
    p (13) チケット発行画面その他の投稿コンテンツにおいて、「詳しい話はこちらで」等と外部URLを貼りつけて誘導したり、連絡先を投稿する行為。
    p (14) 個人情報を収集する目的で本サービスを利用する行為。ロボット巡回その他のプログラムされた手法による自動収集に限らず、人力で情報収集する行為も含みます。
    p (15) 上記の他、弊社が不適切と判断した行為。
    br
    b
        p 第7条（チケット発行）
    p 1. 登録ユーザーは、チケット発行者としてチケットを発行できます。チケット発行の際には、弊社が別途定める基準に基づき代金を設定するものとします。
    p 2. チケット発行者はチケット発行に際して、必ずそのチケットを対価とする内容（商品販売・役務等）の明確な説明文を投稿しなければならず、他の登録ユーザーまたは弊社からの求めに応じて商品・役務等の詳細を回答しなければなりません。チケット発行とともに投稿された商品・役務等の内容が第6条の禁止行為に当たると弊社が判断したときは、弊社は第5条第1項に基づき当該チケットおよび投稿を削除します。この場合、チケット発行者は異議を唱えないものとします。
    p 3. チケット発行者は、チケットを発行した時点で弊社と民法第537条の第三者のためにする契約を締結します。契約の内容は、チケット発行とともにチケット発行者が投稿した説明文とします（以下、「契約内容」と言います。）。
    p 4. チケット発行が完了した後には、チケット発行者は弊社との契約を取り消すことおよび解除すること（チケットの発行をキャンセルすること）はできません。ただし天災や事故等やむをえない事情がある場合、その他弊社が特に認める場合を除きます。
    p 5. チケットが購入された時点で、チケット購入者から受益の意思表示がされたものとみなし、チケット発行者はチケット購入者へ契約内容を誠実に履行する義務を負います。
    p 6. チケット発行者は契約内容を自ら履行しなければならず、第三者へ再委託してはならないものとします。ただしチケット購入者の同意を得て、弊社が承諾した場合を除きます。この場合もチケット発行者は契約内容の履行について一切の責任を負います。
    p 7. 本サイトのトップページその他おすすめページにおいて、チケットをピックアップして表示する場合があります。この掲載や掲載順序、掲載期間は弊社の裁量によるものとし、弊社は本項に関連した問い合わせや苦情に対応する義務を負わないものとします。
    br
    b
        p 第8条（チケット購入)
    p 1. 登録ユーザーは、チケット発行者の投稿ページからチケットを購入することができます。支払方法は別途定めるものとし、振込手数料その他支払に必要な費用はチケットを購入した登録ユーザーの負担とします。
    p 2. 登録ユーザーは前項の購入が完了した時点でチケット購入者となり、チケット発行者が投稿した契約内容を受益する意思表示をしたとみなされます。
    p 3. チケット購入者は、原則として受益の意思表示を取り消すこと（チケット購入をキャンセルすること）はできないものとします。ただし、チケット発行者の契約が履行されなかった場合で、弊社が特に認めた場合にはチケット購入はキャンセルされ返金されます。
    p 4. 前項の規定は、チケット発行者が契約履行すべき日時（商品提供の場合は商品が到着すべき日時）から24時間が満了する迄に、チケット購入者から通知があった場合のみ適用されます。その時間を過ぎた後には、チケット購入者は異議を申し立てることはできないものとし、弊社は契約履行について責任を負わないものとします。
    p 5. チケット購入者は、チケット発行者が契約履行するため必要な範囲で、弊社からチケット発行者へ登録情報の全部または一部が提供される場合があることに予め同意するものとします。
    p 6. チケット購入者は、原則として第三者へチケットを譲渡することはできません。ただしチケット発行者が予め同意した場合のみ、第三者とともに契約内容を受けることができます。この場合はチケット購入者が第三者の行為について一切の責任を負うものとします。
    p 7. チケット購入者が、チケット代金の支払を遅滞したときは、チケット購入者は年14.6%の割合による遅延損害金を弊社に支払うものとします。また、弊社はチケット代金の支払を遅滞した登録ユーザーのユーザー登録を解除できるものとします。
    br
    b
        p 第9条（チケット発行者への代金支払）
    p 1. 前条第3項および第4項に基づくチケット購入者からの異議申し立てがなく、チケット発行者が契約内容を完全に履行したと弊社が認めるとき、チケット発行者へ弊社から契約履行の代金が支払われます。
    p 2. 弊社がチケット発行者へ支払う代金は、チケット購入代金の90%相当額（消費税を含む）で、利息は発生しないものとします。振込に必要な手数料その他の費用はチケット発行者の負担とします。
    p 3. 本サービスを利用することで得た代金に税金が発生する場合、登録ユーザー自身の責任と負担において納めなければなりません。
    p 4. 本条の代金の支払方法については、別途定めるものとします。
    p 
    p 第10条（ポイントの付与）
    p 1. 弊社は、登録ユーザーが本サービスを利用したとき、その他弊社が相当と認めたときに登録ユーザーに対してポイントを付与します。
    p 2. ポイントの付与条件、ポイントの付与率、ポイントの利用方法、ポイントの管理等については別途定めるものとします。
    p 3. 弊社が付与したポイントは、ポイントが付与された日から180日で失効するものとします。
    p 4. 弊社によるユーザー登録の解除、登録ユーザー自身の意思による退会および有効期限の到来によって失効したポイントについて弊社は一切の補償を行わないものとします。
    p 5. ポイントの換金はいかなる理由でもできません。
    p 6. ポイントの取得および利用等にともない税金や附帯費用が発生する場合、登録ユーザーがこれを負担するものとします。
    br
    b
        p 第11条（登録ユーザーによる個人情報と機密情報の管理）
    p 1. 登録ユーザーは、本サービスを通じて知り得た他の登録ユーザーの個人情報および機密情報を厳重に管理し、第三者に開示してはならないものとします。
    p 2. 登録ユーザーは、本サービスを通じて知り得た他の登録ユーザーの個人情報および機密情報を、本サービスを通じて結んだ契約を履行する目的以外の目的で利用してはなりません。ただし、登録ユーザー本人による事前の同意がある場合を除きます。
    p 3. 登録ユーザーは、弊社から求めがあったときは、他の登録ユーザーの個人情報および機密情報の取得状況、管理状況等について直ちに弊社へ報告するものとします。
    p 4. 登録ユーザーは、自己の管理する他の登録ユーザーの個人情報および機密情報が漏えいしたことを知ったときは、直ちに弊社へ報告しなければなりません。かかる事態に起因して登録ユーザーからの損害賠償請求があった場合、当該登録ユーザーの費用負担で対応する責任を負います。
    p 5. 登録ユーザーは、弊社の求めに応じていつでも機密情報に関連する全ての書面その他の記録媒体物およびそれらの複製物を弊社へ返却または廃棄するものとします。
    p 6. 登録ユーザーは、弊社またはチケット購入者の求めに応じて本条の同意とは別に機密保持契約を結ぶ必要がある場合があります。
    br
    b
        p 第12条（サービスの中断、停止または終了）
    p 1. 弊社は、以下の各号のいずれかに該当する場合には、登録ユーザーへ事前に通知することなく本サービスの全部または一部を中断または停止することができるものとします。
    p (1) 本サービスに関連するコンピュータ・システム、サーバーの保守管理を行う場合。
    p (2) 天災地変、火災、戦乱、停電等の不可抗力により本サービスの提供ができなくなった場合。
    p (3) Facebookのサービス中断または停止、仕様変更、その他の理由により本サービスと連携ができなくなった場合。
    p (4) 上記の他、弊社が中断または停止を必要と判断した場合。
    p 2. 弊社は、本サービスの運営上の理由等により、登録ユーザーへ事前に通知した上で本サービスの全部を終了することができるものとします。この通知の方法は弊社が決定します。
    p 3. 弊社は、本条に基づき弊社が行った措置に基づき登録ユーザーに生じた損害について一切の責任を負いません。
    br
    b
        p 第13条（退会）
    p 1. 登録ユーザーは、弊社の定める手続きにより退会を申し出ることができます。ただし、登録ユーザーに本サービスを通じて締結した契約上の義務が残るときは、当該契約内容を完全に履行してから退会の手続きを行うものとします。
    p 2. 登録ユーザーが退会手続き中であっても、退会手続きが完了するまでは登録ユーザーとして本規約が適用されます。
    p 3. 退会により登録ユーザーに生じた損害について、弊社は一切責任を負わないものとします。残存ポイントは払い戻しされません。
    p 4. 弊社は、退会した登録ユーザーの投稿コンテンツその他の情報を保存する義務は負わないものとします。
    br
    b
        p 第14条（ユーザー登録の解除）
    p 登録ユーザーが第6条（禁止行為）に違反したときの他、次の各号に該当するときは弊社の判断でユーザー登録を解除することができるものとします。本条に基づき弊社がユーザー登録を解除したことによって発生した損害を、弊社は一切負わないものとします。
    p (1) 登録ユーザーが死亡したことを弊社が知ったとき。
    p (2) 弊社から登録ユーザーへ連絡が取れなくなったとき。
    p (3) 登録ユーザーが一定期間以上にわたって本サービスへログインしなかったとき。
    p (4) 登録ユーザーが破産、特別清算、民事再生手続もしくは会社更生手続開始の申立をし、またはこれらの申立を受けたとき。
    p (5) 上記の他、弊社がユーザー登録を解除することが妥当であると判断したとき。
    br
    b
        p 第15条（損害賠償）
    p ユーザーが本サービスの利用に起因して弊社へ損害を与えた場合、当該ユーザーは弊社に対して一切の損害および費用（弁護士費用を含みます。）を賠償しなければなりません。

    br
    b
        p 第16条（免責）
    p 1. 弊社は、本規約の各条で免責している他、以下の各号についても一切の責任を負いません。ユーザーはご自身の責任において本サービスをご利用ください。
    p (1) 弊社は、本サービスに関連してユーザーが被った損害について、一切の責任を負いません。
    p (2) 弊社は、ユーザーが本サービスに関連して他のユーザーまたは第三者へ損害を与えた場合、一切の責任を負いません。
    p (3) 弊社は、本サービスにおいて表示される一切の情報について、その情報の完全性、正確性、確実性、有用性等の保証を行いません。
    p (4) 弊社は、ユーザーが使用するコンピュータその他の機器、ソフトウェア等の動作保証を一切行いません。
    p (5) 弊社は、本サービスを利用するためにユーザーに発生した通信費について、いかなる場合も保証を行いません。
    p 2. 本規約その他弊社の損害賠償責任を免責する規定にかかわらず、弊社が登録ユーザーに対して何らかの損害賠償義務を負う場合においても、損害賠償の金額は弊社がその損害賠償責任の原因事由が生じた時点から遡って1年以内に、その登録ユーザーから実際に受領した代金の合計額以下の金額を上限とします。
    br
    b
        p 第17条（通知）
    p 本サービスに関する問い合わせその他登録ユーザーから弊社に対する連絡または通知、弊社から登録ユーザーに対する連絡または通知は、弊社の定める方法で行うものとします。
    br
    b
        p 第18条（本サービス上の地位の譲渡等）
    p 1. 登録ユーザーは、弊社の書面による承諾なく、登録ユーザーとしての地位または本規約に基づく権利もしくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。
    p 2. 弊社は本サービスにかかる事業を他者に譲渡した場合は、当該事業譲渡に伴い登録ユーザーとしての地位、本規約に基づく権利および義務ならびに登録ユーザーの登録事項その他の情報を当該事業譲渡の譲受人に譲渡することができるものとし、登録ユーザーは、かかる譲渡につき予め同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。
    br
    b
        p 第19条（分離可能性）
    p 本規約のいずれかの条項またはその一部が、消費者契約法その他の法令等により無効または執行不能と判断された場合であっても、本規約の残りの規定および一部が無効または執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。
    br
    b
        p 第20条（存続規定）
    p 第8条（未払いがある場合）、第9条（未払いがある場合）、第11条、第16条、第18条から第21条の規定は、登録ユーザーが退会または本サービスの終了後も有効に存続します。
    br
    b
        p 第21条（準拠法および管轄裁判所）
    p 1. 本規約の準拠法は日本法とし、本サービスにおいて物品の売買が発生する場合であっても、国際物品売買契約に関する国際連合条約の適用を排除することに合意します。
    p 2. 本規約に起因しまたは関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
    br
    p 平成26年12月21日　制定

    div
        a(href='/') TOPページヘもどる
