link(href='/favicon.ico' rel='shortcut icon')
link(rel='apple-touch-icon-precomposed', href='https://s3-ap-northeast-1.amazonaws.com/wishmatch/WishMatchLogo.png')
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
link(rel='stylesheet', href='/stylesheets/multi-columns-row.css')
link(rel='stylesheet', href='/stylesheets/application.css')
link(rel='stylesheet', href='/stylesheets/jquery.sidr.dark.css')
link(rel='stylesheet', href='/stylesheets/base/jquery.ui.all.css')
link(rel='stylesheet', href='//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css')
link(rel='stylesheet', href='/stylesheets/bootstrap-tagsinput.css')
