header.header
    h1
        - if(_helper.canonicalUrl(_req.url) === '/')
            div.logo= _config.site_title
        - else if(!title)
            a(href='/')
                div.logo= _config.site_title
        - else
            = title

    #sidr
        ul
            li
                a(href='/') 新着
            li
                a(href='/follow_feed') タイムライン
            li
                a(href='/user/' + _req.session.userId) マイページ
            li
                a(href='/user_list') ユーザー一覧
            li
                a(href='/user/edit') 設定
            li
                a(href='/logout') ログアウト
            li
                a(href='/information/userpolicy') 利用規約
            li
                a(href='/information/tokutei') 特定商取引法に基づく表記
            li
                a(href='/information/about#contact') お問い合わせ
            li
                a(href='/information/privacypolicy') プライバシーポリシー
            li
                a(href='/information/company') 会社情報
    nav
        - if( back_url )
            //div.icon.back
                a(href=back_url) もどる
        - //else if( back_root_flg )
            //div.icon.back
                a(href='/') もどる
        -// else if(!not_back_flg && _req.route.path !== '/')
        -//    div#js-back.icon.back もどる

        - if( _helper.user.isLogin(_req) )
            a#simple-menu(href='#sidr')
                div.icon.menu
            //a(href='/post').post-btn Wish
            ul.gp
                li.fr
                    a(href='/post')
                        span.glyphicon.glyphicon-edit
                li.fr
                    a(href='/message/message_box')
                        span.glyphicon.glyphicon-comment(style='position:relative')
                            - if (newMessageCount)
                                span#messageBadge.redbadge= newMessageCount
                            - else 
                                span#messageBadge
                            include template/badge 
                li.fr
                    a(href='/user/' + _req.session.userId)
                        span.glyphicon.glyphicon-globe
                li.fr
                    a(href='/user_list')
                        span.glyphicon.glyphicon-user
                li.fr
                    span.glyphicon.glyphicon-bell
                    ul.dropdown-menu(role='menu')
                        li
                            a(href='#') Action
                        li
                            a(href='#') Another action
                        li.divider
                        li  
                            a(href='#') Another action
            //ul.gp
                li.fr
                    a.icon.icon_l.icon_people_shiro(href='/mypage') マイページ
                li.fr
                    a.icon.icon_l.icon_camera_shiro(href='/post') 写真投稿
        - else if( _req.route.path !== '/login' )
            a(href='/login').login-btn ログイン
