script(src='/javascripts/lib/jquery.min.js')
script(src='/javascripts/lib/bootstrap.min.js')
script(src='/javascripts/lib/facebook_sdk_v2.1.js')
script(src='/javascripts/lib/jquery.sidr.min.js')
script(src='/javascripts/lib/jquery.validate.min.js')
script(src='/javascripts/lib/ie-row-fix.js')
script(src='/javascripts/lib/slidemenu.js')
script(src='/javascripts/conf/base_settings.js')
script(src='/socket.io/socket.io.js')
script(src='/javascripts/lib/underscore-min.js')
