footer#footer.login_footer
    ul.gp
        //li.fl
            a(href='/information/about') 開発者
        li.fl
            a(href='/information/userpolicy') 利用規約
        li.fl
            a(href='/information/tokutei') 特定商取引法上の表記
        li.fl
            a(href='/information/about#contact') お問い合わせ
        li.fl
            a(href='/information/privacypolicy') プライバシーポリシー
        li.fl
            a(href='/information/company') 会社情報
        li.fl
            a(href='/') TOP
