div#post-cooment
  - if(_req.session.userId)
    form(action='/room/send_comment', method='post')
      input(type='hidden', name='_csrf', value=_csrf, required)
      input(type='hidden', name='post_id', value=room.postId, required)
      textarea.full(name='content', rows='3', placeholder='課金システムがまだできていないので、個人間でお願い致します。', required)
      input.submit(type='submit', value='掲示板にコメント')

  - else
    a.submit.btn(href='/login') ログインしてはなしてみる
