div.loader.none
  div.wBall#wBall_1
    div.wInnerBall
  div.wBall#wBall_2
    div.wInnerBall
  div.wBall#wBall_3
    div.wInnerBall
  div.wBall#wBall_4
    div.wInnerBall
  div.wBall#wBall_5
    div.wInnerBall
