li(data-comment-id= message.messageId, data-update-time= message.updateDatetime, data-group-id= messageGroupId)
    div.user-image
        a(href= _helper.user.createUserUrl(message.userId))
            img.user-image-m(src= userMap[message.userId].imagePath, width=30, height=30, alt)
    div.content
        div.comment
            a(href= _helper.user.createUserUrl(message.userId))
                = userMap[message.userId].username
            p
                = message.message
            - if(message.userId === _req.session.userId)
                form.delete-form(action='/message/delete_message', method= 'post')
                    input(type='hidden', name='_csrf', value=_csrf, required)
                    input(type='hidden', name='messageId', value= message.messageId, required)
                    input(type='hidden', name='messageGroupId', value= message.messageGroupId, required)
                    input.submit.comment-delete.js-delete(type='submit', value='削除')
            div.gp
                div.fr.mrs.time
                    = _helper.time.createDisplayTime(message.updateDatetime)
