script#template-room(type='text/template')
    div.col-md-4.col-lg-4
        li.room.gp.mm(data-room-id!='<%- id %>', data-updateDatetime!='<%- updateDatetime %>')
            <% if (ogImagePath) { %>
            div.room-img
                a(href!='/room/<%- id %>')
                    img(src!='https://s3-ap-northeast-1.amazonaws.com/wishmatch/<%- ogImagePath %>?width=600&height=470&type=crop')
            <% } %>
            div.meta
                div.meta-one.gp
                    div.user-info.fl
                        a(href!='/user/<%- user.id %>')
                            img.user-image-m(src!='<%- user.imagePath %>', alt)
                            span.user-name.ds.mls <%- user.username %>
                    // div.posted-time.fr.mrs
                        // span.time <%- displayTime %>
                div.room-img
                    div.like-out
                        <% var like = '' %>
                        <% if(!!likeActive){ like = 'active' } %>
                        div.gp.js-room-like.like-count(data-room_id!='<%- id %>', class!='<%- like %>', style='cursor: pointer;')
                            div.heart.fl Wish
                            div.count.fl <%- likeCount %>
                            // div.heart.fl ❤
                //p タイトル
                p
                    <%- title %>
                <% if (date) { %>
                p 日時:
                    <%- date %>
                <% } %>
                <% if (hour) { %>
                p 時間:
                    <%- hour %>
                    span 時間
                <% } %>
                <% if (money && money != '0') { %>
                p 金額:
                    <%- money %>
                    span 円
                <% } else {  %>
                p 金額: 無料
                <% } %>
                <% if (place) { %>
                p 場所:
                    <%- place %>
                <% } %>
                <% if (address) { %>
                p 住所:
                    a(href!='http://maps.google.co.jp/maps?q=<%= address %>')<%- address %>
                <% } %>
                <% if (url) { %>
                p URL:
                    a(href!=url)<%- url %>
                <% } %>
                div.gp.comments
                    a(href!='/room/<%- id %>')
                        div.comment-count.picon.comment.fr <%- commentCount %>
                        p.comment.elps <%- content %>
                a(href!='/room/<%- id %>')
                    div(style='text-align:center') チケット発売中
