#about
  h2
    margin: 20px 5px 10px
    font-size:   36px
    font-weight: bold

#team
  li
    margin: 1em 10px
  img
    width:         150px
    margin:        0 10px
    border-radius: 10px
  h3
    font-size:   22px
    font-weight: bold
  h4
    font-size: 14px
    text-overflow: ellipsis
    overflow: hidden
  
    
#contact
  li
    margin: 30px
  
  a
    height:         40px
    padding:        10px
    line-height:    30px
    font-size:      30px
    color:          #fff
    border-radius:  10px
    color: #fff
    
  .facebook
    background: #3B5998

  .twitter
    background: #55ACEE
