@import "core/main"
@import "common/main"

@import "user"
@import "room"
@import "post"
@import "error"
@import "about"


// リファクタリング
.mb-5
  margin-bottom:  5px
.mb-10
  margin-bottom:  10px
.mb-20
  margin-bottom:  20px
.mr-5
  margin-right:   5px


.social_module
  padding:    1rem 0
  text-align: center
  background: #f3f3f3
  
  p
    font-size:    1.6rem
    font-weight:  bold
    text-shadow:  0 1px 1px #fff

  .social_button_box
    margin-top: 1rem

