#login
    #container
        // background: url("/images/user/login_bk.png") center center no-repeat
        // background-size: cover
    .login
        padding:        150px 2em
        background: rgba(255,255,255,.150)
        text-align: center
        color:            #666
        .logo
            max-width: 75%
            // opacity:     .40
            
        li
            display:     inline-block
            margin:        1.5em 1em .5em
            font-size: 175%
            
            a
                display: inline
                line-height:        40px
                font-size:            20px
                color:                    #fff
                
                i
                    width:                    40px
                    height:                 40px
                    padding:                10px
                    border-radius:    50%

                signin
                    width:                    100px
                    height:                 20px
                    padding:                10px
                    border-radius:    10px
                    background:         #304788
            
            span
                font-size: 14px
                color:         #999
                
    .facebook
        i
            background: #3B5998

    .twitter
        i
            background: #55ACEE

#user
    #user-info
        margin:         15px 0px
        padding:        5px 0
        position:     relative
        
        .user-name
            margin:                 0 10px
            line-height:        50px
            vertical-align: top
            font-size:            18px
            font-weight:        bold
            letter-spacing: 2px
        
        .edit
            position: absolute
            right:        0
            top:            0
            padding:    3px
            border:     1px solid #999
            border-radius: 4px
            background: #fff
            color:            #666
        
    #user-tab
        display:        table
        box-sizing: border-box
        width:            100%
        padding:        2px
        border-radius: 4px 4px 0 0
        text-align: center
        background: #FF7A3D
        color:            #FFF
        
        li
            display:        table-cell
            width:            33.3%
            letter-spacing: 2px
            font-size: 12px
            
            &.active
                border-radius: 4px
                background: #F9EEEE
                color:            #FF7A3D

                a
                    color: #FF7A3D
                
            a
                color:     #FFF
                display: block
                padding: 4px 0 8px
                font-weight:        bold
            
            .count
                font-size: 22px
                
    .like-rooms
        margin:         5px 0
        text-align: center
            
        .room
            display:        inline-block
            width:            150px
            height:         150px
            margin:         5px
            border-radius:    5px
            box-shadow:         0 0 2px rgba(0,0,0,0.2);
            overflow:             hidden
            background: #fff
            
            img 
                border: 0
                
            a
                width:            150px
                height:         150px
                
#user-edit
    margin: 10px
    
    label
        display: block
        margin:    20px 0
    
        .item-name
            margin:             10px 0
            color:                #9f5a3a
            font-weight:    bold
        
        input
            box-sizing:         border-box
            padding:                10px
            border-radius:    4px
            font-size:            16px
            font-weight:        bold
            letter-spacing: 1px
            color:                    #666

    .submit
        display:                block
        width:                    80%
        margin:                 30px auto
        padding:                15px
        border-radius:    4px
        font-size:            14px
        font-weight:        bold
        background:         #333
        color:                    #fff
        cursor:                 pointer
        
span
    #follow
        .js-follow
            border-radius:    5px
            background: #0cbadf
            color: #ffffff
