html,body
    min-height: 100%
    height: 100%

body
    background: #E4FDFD
    color: color-d
    font-size: font-size-base
    font-family: font-family-body
    -webkit-text-size-adjust: 100%
    line-height: 1.5

#container
    position: relative
    box-sizing: border-box
    max-width: 1200px
    min-height: 100%
    margin: 0 auto
    padding-bottom: 60px
    overflow: hidden
a
    // display: block
    color:     #E67344
    text-decoration: none

b
    font-weight: bold

// For using as icon.
i
    display: inline-block

em
    font-style: normal

select, button, input, textarea
    // display: block
    // width: 100%
    // -webkit-appearance: none
.full
    width: 100%
.block
    display: block  !important
.inline
    display: inline !important
.none
    display: none !important

table#company
    border: 1px solid #b9b9b9
    th
        border: 1px solid #b9b9b9
    td
        border: 1px solid #b9b9b9

.user-image-s
    width:    20px
    height: 20px
    vertical-align: middle
    border-radius: 4px
    box-shadow:         0 0 2px rgba(0,0,0,0.2)

.user-image-m
    width:    30px
    height: 30px
    vertical-align: middle
    border-radius: 5px
    box-shadow:         0 0 2px rgba(0,0,0,0.2)

.user-image-l
    width: 50px
    height: 50px
    vertical-align: middle
    border-radius: 10px
    box-shadow:         0 0 3px rgba(0,0,0,0.3)


.btn
    text-align: center
    border-radius: 4px
    padding: 1.5ex
    
.more-btn
    text-align: center
    border: 1px solid #888
    margin: 10px 60px
    cursor: pointer
    
    
    
.postform
    margin: 10px
    
    textarea
        box-sizing:         border-box
        padding:                10px
        border-radius:    4px
        letter-spacing: 1px
        color:                    #666

    .submit
        display:                block
        width:                    90%
        margin:                 30px auto
        padding:                10px
        border-radius:    4px
        font-size:            14px
        font-weight:        bold
        background:         #333
        color:                    #fff
        cursor:                 pointer

.blockcenter
        display:        block
        margin-left: auto
        margin-right: auto

@import "common/icon"    
@import "common/_header"
@import "common/_footer"
